body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  margin: 100px;
  overflow: auto;
}

#image-track {
  margin-top: 0;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}



footer {
  width: 100%;
  height: 34vmin;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}