/*Variables*/
:root {
  --firstcolor : lightblue;

}

/*-------Home---------*/

/*First Div*/
@media (min-width: 576px) {
    .jumbotron {
      height: 60vh;
    }
  }
  
  @media (min-width: 768px) {
    .jumbotron {
      height: 70vh;
    }
  }
  
  @media (min-width: 992px) {
    .jumbotron {
      height: 80vh;
    }
  }
  
  @media (min-width: 1200px) {
    .jumbotron {
      height: 90vh;
    }
  }

  .home-first-container {
    height: 500px;
  }

  /*Second Div*/
  .home-second-div {
    padding: 3%;
    margin: 2%;
  }

  /*Third Div*/
  .home-third-div {
    background-color: var(--firstcolor);
    padding: 3%;
    margin: 2%;
  }

  /*Fourth Div*/
  .map-container {
    background-color: gray; /*Map Placeholder*/
    height: 300px;
    padding: 3%;
    margin: 2%;
  }



