@media (min-width: 576px) {
    .jumbotron {
      height: 60vh;
    }
  }
  
  @media (min-width: 768px) {
    .jumbotron {
      height: 70vh;
    }
  }
  
  @media (min-width: 992px) {
    .jumbotron {
      height: 80vh;
    }
  }
  
  @media (min-width: 1200px) {
    .jumbotron {
      height: 90vh;
    }
  }
  